@import "@/variables";

*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: $weight-normal;
}

html {
    color: $color-black-light;
    font-size: clamp(0.4375rem, 0.3523rem + 0.4261vw, 0.625rem);
    line-height: 1.5;
}

body {
    background-color: $color-white-dark;
}

a {
    text-decoration: none;
}
