@import "@/variables";

.footer {
    background-color: $color-black-dark;

    .footer-container {
        inline-size: min($max-size, 100%);
        padding-inline: min(5rem, 5%);
        padding-block: 10rem;
        margin-inline: auto;

        .flex-grid {
            display: grid;
            grid-template-columns: 1fr;
            row-gap: 5rem;

            .boxes-flex-grid {
                display: grid;
                grid-template-columns: repeat(4, 1fr);
                row-gap: 5rem;

                @media (max-width: 1024px) {
                    grid-template-columns: repeat(2, 1fr);
                }

                .flex-group {
                    display: flex;
                    justify-content: center;

                    @media (max-width: 1024px) {
                        justify-content: flex-start;
                    }

                    .align-box {
                        display: flex;
                        flex-direction: column;
                        row-gap: 1rem;

                        .group-header {
                            position: relative;
                            inline-size: fit-content;
                            color: $color-white-dark;
                            font-size: 2rem;
                            font-weight: $weight-bold;

                            &::before {
                                position: absolute;
                                content: "";
                                inset-inline-start: 0;
                                inset-block-end: -0.5rem;
                                inline-size: 50%;
                                block-size: 1px;
                                background-color: $color-white-dark;
                            }
                        }

                        .sub-flex-group {
                            display: flex;
                            flex-direction: column;

                            .group-text {
                                inline-size: fit-content;
                                color: $color-white-dark;
                                font-size: 2rem;
                                transition-property: color;
                                transition-timing-function: ease-in-out;
                                transition-duration: 200ms;

                                &.link {
                                    &:hover {
                                        color: $color-black-light;
                                    }
                                }
                            }

                            .holder {
                                inline-size: fit-content;
                                display: flex;
                                align-items: center;
                                column-gap: 2rem;

                                &.link {
                                    &:hover {
                                        .group-text,
                                        .icon {
                                            color: $color-black-light;
                                        }
                                    }
                                }

                                .icon-holder {
                                    display: flex;

                                    .icon {
                                        color: $color-white-dark;
                                        font-size: 2rem;
                                        transition-property: color;
                                        transition-timing-function: ease-in-out;
                                        transition-duration: 200ms;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
